Service References/AdminReference/AdminService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64375/AdminService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFContpaq" />
  <xs:element name="LoginAdministradores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginAdministradoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFContpaq" minOccurs="0" name="LoginAdministradoresResult" nillable="true" type="q1:Administradores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarAdministradores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarAdministradoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFContpaq" minOccurs="0" name="MostrarAdministradoresResult" nillable="true" type="q2:ArrayOfAdministradores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarAdministrador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarAdministradorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificarAdministradorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarNuevo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFContpaq" minOccurs="0" name="admins" nillable="true" type="q3:Administradores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarNuevoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarNuevoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarAdministrador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Busqueda" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarAdministradorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFContpaq" minOccurs="0" name="BuscarAdministradorResult" nillable="true" type="q4:ArrayOfAdministradores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarAdministrador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFContpaq" minOccurs="0" name="Admin" nillable="true" type="q5:Administradores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarAdministradorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarAdministradorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAdministrador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAdministradorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarAdministradorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarDeptos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarDeptosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFContpaq" minOccurs="0" name="MostrarDeptosResult" nillable="true" type="q6:ArrayOfDepartamentos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFContpaq" minOccurs="0" name="Deptos" nillable="true" type="q7:Departamentos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarDepartamentoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarDepartamentoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BloquearAdministrador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BloquearAdministradorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BloquearAdministradorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>