Service References/AdminReference/AdminService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFContpaq" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFContpaq" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Administradores">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminID" type="xs:int" />
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bloqueado" type="xs:boolean" />
      <xs:element minOccurs="0" name="CargarReportes" type="xs:boolean" />
      <xs:element minOccurs="0" name="ConfirmarPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CrearAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="Departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnviarNotificaciones" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Permisos" type="xs:boolean" />
      <xs:element minOccurs="0" name="Rol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Administradores" nillable="true" type="tns:Administradores" />
  <xs:complexType name="ArrayOfAdministradores">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Administradores" nillable="true" type="tns:Administradores" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdministradores" nillable="true" type="tns:ArrayOfAdministradores" />
  <xs:complexType name="ArrayOfDepartamentos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Departamentos" nillable="true" type="tns:Departamentos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartamentos" nillable="true" type="tns:ArrayOfDepartamentos" />
  <xs:complexType name="Departamentos">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepartamentoID" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Departamentos" nillable="true" type="tns:Departamentos" />
</xs:schema>